@page "/new-account/revert-password"
@namespace Magazynek.Pages

@using Magazynek.Entities
@using Magazynek.Entities.Models
@using Magazynek.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Magazynek.Data
@using Magazynek.Data.Mailer

@inject ISessionService SessionService
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@inject IEmailSender EmailSender
@inject NavigationManager Nav
@inject IFlashService FlashService


<div class="container mt-4">
    <div class="modal-dialog">
        <div class="modal-content text-light bg-dark login">
            <div class="modal-header">
                <h5 class="modal-title">
                    Ustaw hasło
                </h5>
            </div>
            <div class="modal-body">
                <EditForm Model="@accountModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="login-table">
                        <div class="field">
                            <div class="input-group floating no-suffix">
                                <span class="addon" aria-hidden="true"><i class="fa-solid fa-signature"></i></span>
                                <InputText @bind-Value="accountModel.Name"
                                    id="name"
                                    disabled="true"
                                    class="form-control login"
                                    placeholder="imię" />
                            </div>
                            <ValidationMessage class="show" For="@(() => accountModel.Name)" />
                        </div>
                        <div class="field">
                            <div class="input-group floating no-suffix">
                                <span class="addon" aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
                                <InputText @bind-Value="accountModel.Login"
                                    id="email"
                                    disabled="true"
                                    class="form-control login"
                                    placeholder="e-mail" />
                            </div>
                            <ValidationMessage class="show" For="@(() => accountModel.Login)" />
                        </div>
                        <div class="field">
                            <PasswordInput PasswordChanged="@PasswordChanged" />
                            <ValidationMessage class="show" For="@(() => accountModel.Password)" />
                        </div>


                        <button type="submit" class="btn btn-success space-top lg btn-login">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    [SupplyParameterFromQuery] public string? code  { get; set; }
    [SupplyParameterFromQuery] public string? login { get; set; }


    NewAccountModel accountModel = new NewAccountModel();


    protected void PasswordChanged(string password)
    {
        
    }
    protected async Task HandleValidSubmit()
    {
        await Task.Delay(0);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            Guid activatorGuid = Guid.Empty;
            if (
                string.IsNullOrWhiteSpace(code) || 
                string.IsNullOrWhiteSpace(login) || 
                !Guid.TryParse(code, out activatorGuid)
            )
            {
                NavigationManager.NavigateTo("/");
                return;
            }

            User? userByLogin = await SessionService.GetUser(login);
            if(userByLogin == null || userByLogin.active)
            {
                await FlashService.SetAsync(new FlashMessage("Konto nie istnieje lub już aktywne!", FlashMessageType.error));
                NavigationManager.NavigateTo("/");
                return;
            }

            accountModel.Login = userByLogin.login;
            accountModel.Name = userByLogin.name;
            StateHasChanged();
        }
    }
}