@page "/products"

@using Magazynek.Entities
@using Magazynek.Services

@inject IProductService ProductService
@inject ISystemSettingsService SystemSettingsService


<PageTitle>Produkty</PageTitle>

<div class="container mt-4">
    <SearchBar
        OnSearchChanged="SearchChanged"
        SearchBarButtons=@searchBarButtons
        ItemCount="filteredProducts?.Count() ?? 0"
    />
    <table class="table table-dark table-striped table-hover align-middle">
        <thead class="table-dark border-bottom border-light">
            <tr>
                <th>Typ</th>
                <th>Nazwa</th>
                <th>Aktywny</th>
                <th>Opis</th>
                <th>Obudowa</th>
                @* <th>Farnell ID</th> *@
                <th>TME ID</th>
                <th class="button-th buttons-3">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if(filteredProducts != null)
            {
                @foreach (Product product in filteredProducts)
                {
                    <tr>
                        <td>@product.type</td>
                        <td>@product.name</td>
                        <td><BoolPresentation Value="product.active" /></td>
                        <td>@product.description</td>
                        <td>@product.package</td>
                        @* <td>@product.farnellID</td> *@
                        <td>@product.tmeID</td>
                        <td class="buttons-td">
                            <button class="btn btn-success" @onclick="() => Copy(product)">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                            <button class="btn btn-light" @onclick="() => Edit(product)">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-danger" @onclick="() => Remove(product)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <EditModal
        Title="@(editingProductIsNew ? "Dodaj produkt" : "Modyfikuj produkt")"
        Model="editingProduct"
        OnSubmit="@SaveProduct"
        OnModalClose="@CloseEditModal"
        DropdownOptions="@dropdowns"
        @ref="ModalRef"
    />
</div>


@code {
    List<SearchBar.SearchBarButtonItem>? searchBarButtons;

    private EditModal? ModalRef;
    private string searchTerm = "";
    private ProductViewModel? editingProduct = null;
    private bool editingProductIsNew = false;
    private List<Product> products = new List<Product>();

    private List<SystemSetting> settings = new List<SystemSetting>();
    List<string> productTypes = new List<string>();
    
    private IEnumerable<Product>? filteredProducts;

    private Dictionary<string, List<string>> dropdowns = new Dictionary<string, List<string>>();

    private void SearchChanged(string query) {
        searchTerm = query;
        filteredProducts = products
            .Where(p => string.IsNullOrWhiteSpace(query) ||
                p.type.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                p.name.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                p.package.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                p.farnellID.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                p.tmeID.Contains(query, StringComparison.OrdinalIgnoreCase));
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync() {
        products = (await ProductService.Get()).OrderBy(p=>p.type).ToList();
        settings = await SystemSettingsService.GetSettings();
        productTypes = settings.GetSettingByType(SystemSetting.SettingName.Typy_produktów)?.A_Value ?? new List<string>();

        productTypes.Sort();
        dropdowns.Add("type", productTypes);
        SearchChanged("");
    }
    protected override void OnInitialized() {
        searchBarButtons = new List<SearchBar.SearchBarButtonItem> {
            new SearchBar.SearchBarButtonItem {
                Class = "btn-success",
                Icon = "fa-solid fa-plus",
                OnClick = EventCallback.Factory.Create(this, AddNew)
            }
        };
    }
    private void Edit(Product p) {
        editingProductIsNew = false;
        editingProduct = new ProductViewModel(p);
        ModalRef?.Show();
    }
    private async void Remove(Product p) {
        await ProductService.Remove(p);
        products.Remove(p);
        StateHasChanged();
    }
    private void Copy(Product p)
    {
        editingProductIsNew = true;
        editingProduct = new ProductViewModel(new Product(
            name: p.name + " - KOPIA", 
            package: p.package, 
            farnellID: p.farnellID, 
            tmeID: p.tmeID,
            description: p.description,
            active: p.active,
            type: p.type
        ));
        ModalRef?.Show();
    }
    
    private void AddNew() {
        editingProductIsNew = true;
        editingProduct = new ProductViewModel(
            product: new Product(
                name: "NOWY",
                package: "",
                farnellID: "",
                tmeID: "",
                description: "",
                active: false, 
                type: Product.GetSafeDefaultType(productTypes)
            )
        );
        ModalRef?.Show();
    }
    private void CloseEditModal() {
        editingProduct = null;
    }
    private async void SaveProduct(object _)
    {
        if(editingProduct == null) return;

        Product newProduct = await ProductService.UpdateInfoOrInsertNew(editingProduct);
        Product? existingProduct = products.FirstOrDefault(x => x.id == newProduct.id);
        if(existingProduct == null) products.Add(newProduct);
        else {
            existingProduct.SetName(newProduct.name);
            existingProduct.SetPackage(newProduct.package);
            existingProduct.SetFarnellID(newProduct.farnellID);
            existingProduct.SetTmeID(newProduct.tmeID);
            existingProduct.SetType(newProduct.type);
        }
        editingProduct = null;

        products = products.OrderBy(p=>p.type).ToList();

        SearchChanged(searchTerm);
    }
}