@page "/shippings"
@using Magazynek.Entities
@using Magazynek.Services
@using Magazynek.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject IShippingEntryService ShippingEntryService
@inject IProductService       ProductService
@inject ISessionService SessionService
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@inject ISystemSettingsService SystemSettingsService
@inject IJSRuntime JS


<PageTitle>Ilości</PageTitle>

<div class="container mt-4">
    <SearchBar
        OnSearchChanged="SearchChanged"
        SearchBarButtons=@searchBarButtons
        ItemCount="filteredShippings?.Count() ?? 0"
    />
    <table class="table table-dark table-striped table-hover align-middle">
        <thead class="table-dark border-bottom border-light">
            <tr>
                @foreach(string name in headerNames)
                {
                    <th>@name</th>
                }
            </tr>
        </thead>
        <tbody>
            @if(filteredShippings != null)
            {
                @foreach (ShippingEntryViewModel shippingEntry in filteredShippings)
                {
                    bool qtyZero = shippingEntry.quantity == 0;
                    bool stockZero = shippingEntry.stock == 0;
                    <tr>
                        <td class="@(stockZero || qtyZero? "text-danger":"")">@shippingEntry.product.type</td>
                        <td>@shippingEntry.product.name</td>
                        <td>@shippingEntry.product.description</td>
                        <td>@shippingEntry.product.package</td>
                        <td class="@(qtyZero? "text-danger":"")">@shippingEntry.quantity</td>
                        <td>@shippingEntry.product.tmeID</td>
                        <td class="@(stockZero? "text-danger":"")">@shippingEntry.stock</td>
                    </tr>
                }
            }
            else 
            {
                <td colspan="7">
                    <Loader/>
                </td>
            }
        </tbody>
    </table>

    <div class="modal @(editingEntry != null?"show":"")">
        <div class="modal-dialog">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj dostawę</h5>
                    <button type="button" class="btn-close" @onclick="CloseEditModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @if(editingEntry != null)
                    {
                        Guid g0 = Guid.NewGuid();
                        Guid g1 = Guid.NewGuid();
                        Guid g2 = Guid.NewGuid();


                        <EditForm Model="editingEntry" OnValidSubmit="SaveEntry">
                            <div class="form-table">
                                <label class="form-label" for="@g0">Wybierz produkt</label>
                                <InputText class="form-control mb-2" placeholder="Szukaj..."
                                    @bind-Value="productSearch"
                                    @oninput="e => { productSearch = e.Value?.ToString() ?? string.Empty; FilterProducts(); }"
                                />
                                <label class="form-label" for="@g1"></label>
                                <select class="form-control" id="@g1" @onchange="OnProductChanged">
                                    @foreach (Product product in filteredProducts)
                                    {
                                        <option value="@product.id">@product.name</option>
                                    }
                                </select>
                                <label class="form-label" for="@g2">Ilość</label>
                                <InputNumber class="form-control" id="@g2" @bind-Value="editingEntry.quantity" min="0" step="1" />
                            </div>
                            <button type="submit" class="btn btn-success space-top lg"><i class="fa-solid fa-floppy-disk"></i></button>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal @(isLoading?"show":"")">
        <div class="modal-dialog">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Pobieranie danych...</h5>
                </div>
                <div class="modal-body">
                    <Progressbar @ref="progressbar" Minimum="0" Maximum="@shippingEntries.Count" />
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string searchTerm = string.Empty;
    List<SearchBar.SearchBarButtonItem>? searchBarButtons;
    private string productSearch = string.Empty;

    private List<ShippingEntryViewModel> shippingEntries = new List<ShippingEntryViewModel>();
    private ShippingEntryViewModel? editingEntry;

    private List<Product> allProducts = new List<Product>();
    private List<Product> filteredProducts = new List<Product>();

    private bool isLoading = false;
    private int currentRefreshingIndex = 1;

    User? loggedUser;
    private List<SystemSetting> settings = new List<SystemSetting>();
    List<string> headerNames = new List<string>();

    Progressbar? progressbar;

    private IEnumerable<ShippingEntryViewModel>? filteredShippings;

    private void SearchChanged(string query) {
        searchTerm = query;
        filteredShippings = shippingEntries
             .Where(e => string.IsNullOrWhiteSpace(query) ||
                    e.product.name.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                    e.product.package.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                    e.product.farnellID.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                    e.product.tmeID.Contains(query, StringComparison.OrdinalIgnoreCase));
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        if(firstRender)
        {
            loggedUser = await SessionService.GetLoggedUser(SessionStorage);
            if(loggedUser == null) return;

            allProducts = await ProductService.Get(loggedUser);
            shippingEntries = (await ShippingEntryService.GetModels(loggedUser)).OrderBy(se => se.product.name).ToList();

            settings = await SystemSettingsService.GetSettings(loggedUser);
            headerNames = SystemSetting.PrepareShippingNames(settings.GetSettingByType(SystemSetting.SettingName.NameTableProduct));


            // if there is no shipping entry:
            foreach(Product p in allProducts)
            {
                ShippingEntryViewModel? entry = shippingEntries.FirstOrDefault(se => se.product.id == p.id);
                if(entry == null)
                {
                    ShippingEntryViewModel newEmptyEntry = ShippingEntryViewModel.Empty(loggedUser);
                    newEmptyEntry.product = p;

                    entry = await ShippingEntryService.UpdateInfoOrInsertNew(newEmptyEntry, loggedUser);
                    shippingEntries.Add(entry);
                }
            }

            SearchChanged(searchTerm);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(0); // warning silencer
        searchBarButtons = new List<SearchBar.SearchBarButtonItem> {
            new SearchBar.SearchBarButtonItem {
                Class = "btn-success",
                Icon = "fa-solid fa-plus",
                OnClick = EventCallback.Factory.Create(this, AddNew)
            },
            new SearchBar.SearchBarButtonItem {
                Class = "btn-light",
                Icon = "fa-solid fa-rotate-right",
                OnClick = EventCallback.Factory.Create(this, RefreshValues)
            }
        };
    }

    private void FilterProducts() {
        filteredProducts = allProducts.Where(x =>
            (x.name?.Contains(productSearch, StringComparison.OrdinalIgnoreCase) == true) ||
            (x.description?.Contains(productSearch, StringComparison.OrdinalIgnoreCase) == true) ||
            (x.package?.Contains(productSearch, StringComparison.OrdinalIgnoreCase) == true) ||
            (x.tmeID?.Contains(productSearch, StringComparison.OrdinalIgnoreCase) == true) ||
            (x.farnellID?.Contains(productSearch, StringComparison.OrdinalIgnoreCase) == true)
        ).ToList();
    }
    private void OnProductChanged(ChangeEventArgs e)
    {
        Guid prodGuid = Guid.Empty;
        if(!Guid.TryParse(e.Value?.ToString(), out prodGuid)) return;

        Product? p = allProducts.FirstOrDefault(x => x.id == prodGuid);
        if(editingEntry != null && p != null) editingEntry.product = p;
    }
    private void AddNew() 
    {
        productSearch = "";
        editingEntry = ShippingEntryViewModel.Empty(loggedUser!);
        FilterProducts();
    }
    private void CloseEditModal() {
        editingEntry = null;
        JS.InvokeVoidAsync("document.body.classList.remove", "modal-open");
        StateHasChanged();
    }
    private async void SaveEntry(EditContext context)
    {
        if(editingEntry == null) return;

        if(editingEntry.product.id == Guid.Empty && filteredProducts.Count > 0)
            editingEntry.product = filteredProducts[0];

        ShippingEntryViewModel newEntry = await ShippingEntryService.UpdateInfoOrInsertNew(editingEntry, loggedUser!);
        if(shippingEntries.Any(x=>x.id == newEntry.id))
        {
            var index = shippingEntries.FindIndex(x => x.id == newEntry.id);
            shippingEntries[index] = newEntry;
        } 
        else shippingEntries.Add(newEntry);
        CloseEditModal();
        
        StateHasChanged();
    }
    private async Task RefreshValues()
    {
        isLoading = true;
        currentRefreshingIndex = 0;
        StateHasChanged();

        int maxConcurrency = 5;
        using SemaphoreSlim semaphore = new SemaphoreSlim(maxConcurrency);
        object lockObj = new object();

        IEnumerable<Task<ShippingEntryViewModel>>? tasks = shippingEntries.Select(async entry =>
        {
            await semaphore.WaitAsync();
            try
            {
                ShippingEntryViewModel updated = await ShippingEntryService.RefreshValue(entry);

                lock (lockObj) currentRefreshingIndex++;

                if(progressbar != null)
                {
                    await InvokeAsync(() => progressbar.SetValue(currentRefreshingIndex));
                }
                
                return updated;
            }
            finally { semaphore.Release(); }
        });

        ShippingEntryViewModel[]? results = await Task.WhenAll(tasks);

        for (int i = 0; i < results.Length; i++) shippingEntries[i] = results[i];

        isLoading = false;
        StateHasChanged();
    }
}