@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using magazynek.Data
@inject IJSRuntime JS


<div class="modal @(IsVisible?"show":"")" style="">
    <div class="modal-dialog">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Title
                </h5>
                <button type="button" class="btn-close" @onclick="CloseEditModal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                @if(Model != null)
                {
                    <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
                        <div class="form-table">
                            @foreach (PropertyInfo prop in Model.GetType().GetProperties())
                            {
                                EditableFieldAttribute? attr = prop.GetCustomAttribute<EditableFieldAttribute>();
                                if (attr is null || !attr.IsEditable) continue;
                                string fieldId = $"field_{prop.Name}_{Guid.NewGuid()}";

                                <label class="form-label" for="@fieldId">@attr.Label</label>

                                @switch (attr.Type)
                                {
                                    case EditableFieldAttribute.InputType.Number:
                                        <InputNumber 
                                            TValue="decimal"
                                            id="@fieldId"
                                            class="form-control" 
                                            Value="BindDecimal(prop)" 
                                            ValueChanged="@(val => BindDecimal(prop, (decimal)val))" />
                                        break;
                                    case EditableFieldAttribute.InputType.Checkbox:
                                        <BetterChecker 
                                            IsChecked="BindBool(prop)" 
                                            IsCheckedChanged="@(val => BindBool(prop, val))" />
                                        break;
                                    case EditableFieldAttribute.InputType.Dropdown:
                                        List<string>? options = null;
                                        DropdownOptions?.TryGetValue(prop.Name, out options);

                                        <select id="@fieldId"
                                            class="form-control"
                                            value="@BindString(prop)"
                                            @onchange="e => BindString(prop, e.Value?.ToString() ?? string.Empty)">
                                            <option value="">Wybierz...</option>
                                            @if(options != null)
                                            {
                                                @foreach(string option in options)
                                                {
                                                    <option value="@option" selected="@(option == BindString(prop) ? "selected" : null)">@option</option>
                                                }
                                            }
                                        </select>
                                        break;

                                    default:
                                        <input 
                                            type="text"
                                            id="@fieldId"
                                            class="form-control" 
                                            value="@BindString(prop)"
                                            @onchange="e => BindString(prop, e.Value?.ToString() ?? string.Empty)" />
                                        break;
                                }
                            }
                        </div>

                        <button type="submit" class="btn btn-success space-top lg">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] [Required] public string Title { get; set; } = string.Empty;
    [Parameter] [Required] public object? Model { get; set; }
    [Parameter] [Required] public EventCallback<object> OnSubmit { get; set; }
    [Parameter] [Required] public EventCallback<object> OnModalClose { get; set; }
    [Parameter] [Required] public Dictionary<string, List<string>> DropdownOptions { get; set; } 
        = new Dictionary<string, List<string>>();
    
    bool IsVisible { get; set; } = false;

    public void Show() {
        IsVisible = true;
        JS.InvokeVoidAsync("document.body.classList.add", "modal-open");
        StateHasChanged();
    }
    void CloseEditModal() {
        IsVisible = false;
        JS.InvokeVoidAsync("document.body.classList.remove", "modal-open");
        StateHasChanged();
    }
    void HandleValidSubmit() {
        OnSubmit.InvokeAsync(Model);
        CloseEditModal();
    }

    private string BindString(PropertyInfo prop) => (string?)prop.GetValue(Model) ?? "";
    private void BindString(PropertyInfo prop, string value) => prop.SetValue(Model, value);

    private bool BindBool(PropertyInfo prop) => (bool)(prop.GetValue(Model) ?? false);
    private void BindBool(PropertyInfo prop, bool value) => prop.SetValue(Model, value);

    private decimal BindDecimal(PropertyInfo prop) => Convert.ToDecimal(prop.GetValue(Model) ?? 0);
    private void BindDecimal(PropertyInfo prop, decimal value) => prop.SetValue(Model, value);
}