@using Magazynek.Services
@using Microsoft.Build.Framework
@using Magazynek.Entities
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Nav
@inject ISessionService SessionService
@inject ProtectedSessionStorage SessionStorage

<div class="top-row navbar-glass">
    <div class="container-fluid h100">
        <img src="media/mainlogo.png" alt="ANTSLAB LOGO">
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        @if(activeSession == null || activeSession.user == null)
        {
            <NavMenuItem currentPage="@path" linkedPage="/login">
                <i class="fa-solid fa-user"></i> Zaloguj
            </NavMenuItem>
            <NavMenuItem currentPage="@path" linkedPage="/new-account">
                <i class="fa-solid fa-user-plus"></i> Utwórz konto
            </NavMenuItem>

            <div class="menu-spacer"></div>

            <NavMenuItem currentPage="@path" linkedPage="/">
                <i class="fa-solid fa-house-chimney"></i> O projekcie
            </NavMenuItem>
        }
        else 
        {
            <div class="greeter">
                <span class="greeter">
                    @GreetUser()
                </span>
            </div>

            <NavMenuItem currentPage="@path" linkedPage="/">
                <i class="fa-solid fa-house-chimney"></i> O projekcie
            </NavMenuItem>

            <div class="menu-spacer"></div>

            <NavMenuItem currentPage="@path" linkedPage="/do-project">
                <i class="fa-solid fa-industry"></i> Realizacje
            </NavMenuItem>
            <NavMenuItem currentPage="@path" linkedPage="/projects">
                <i class="fa-solid fa-folder-tree"></i> Projekty
            </NavMenuItem>
            <NavMenuItem currentPage="@path" linkedPage="/shippings">
                <i class="fa-solid fa-box-open"></i> Ilości
            </NavMenuItem>
            <NavMenuItem currentPage="@path" linkedPage="/products">
                <i class="fa-solid fa-screwdriver-wrench"></i> Produkty
            </NavMenuItem>

            <div class="menu-spacer"></div>

            <NavMenuItem currentPage="@path" linkedPage="/settings">
                <i class="fa-solid fa-user-gear"></i> Ustawienia konta
            </NavMenuItem>

            <div class="menu-spacer"></div>

            @if(activeSession != null && activeSession.user != null && activeSession.user.userRole == User.UserRole.Admin)
            {
                <NavMenuItem currentPage="@path" linkedPage="/system-settings">
                    <i class="fa-solid fa-sliders"></i> System
                </NavMenuItem>
                <div class="menu-spacer"></div>
            }

            <NavMenuItem currentPage="@path" linkedPage="/logout">
                <i class="fa-solid fa-right-from-bracket"></i> Wyloguj
            </NavMenuItem>
        }
    </nav>
</div>


@code {
    private string path = string.Empty;

    Session? activeSession;

    protected override void OnInitialized()
    {
        Nav.LocationChanged += OnLocationChanged;
    }
    string GreetUser()
    {
        if(activeSession == null || activeSession.user == null) return "";
        int hour = DateTime.Now.Hour;

        string greeting = hour switch
        {
            >= 5 and < 12 => "Dzień dobry",
            >= 12 and < 18 => "Dobry dzień",
            _ => "Dobry wieczór"
        };

        return $"{greeting}, {activeSession.user.name}";
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _ = InvokeAsync(async () =>
        {
            await RefreshAsync();
            StateHasChanged();
        });
    }
    private async Task RefreshAsync()
    {
        path = Normalize(Nav.ToBaseRelativePath(Nav.Uri));
        activeSession = await SessionService.GetOrCreateSession(SessionStorage);
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await RefreshAsync();
    }

    private static string Normalize(string p) => "/" + p.Split('?', '#')[0].TrimEnd('/');
    public void Dispose() => Nav.LocationChanged -= OnLocationChanged;

}